body {
  background-color: rgb(73, 75, 73);
}

.container {
  border-radius: 35px;
  max-width: 400px;
  margin: 8vh auto 0 auto;
  box-shadow: 0px 0px 43px 17px rgb(111, 106, 106);
  background-color: #2a301a;
  padding: 20px;
}

#display {
  border: 1px solid rgb(247, 240, 240);
  color: white;
  text-align: right;
  height: 50px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.buttons {
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid#999;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid#999;
}

.button {
  line-height: 90px;
  text-align: center;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

#equal {
  border: 1px solid #999;
  background-color: rgb(114, 114, 118);
  color: white;
}

.button:hover {
  background-color: #8e947f;
  color: white;
  transition: 0.5s ease-in-out;
}
